.login-form{
    min-width: 400px;
    background-color: white;
    padding:40px 35px;
}

@media only screen and (max-width: 480px) {
    .login-form{
        min-width: 300px;
    }
}

@media only screen and (max-width: 380px) {
    .login-form{
        min-width: 0px;
        background-color: transparent;
    }
}